.button-example {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(219, 214, 215);
  border-color: rgb(48, 46, 46); /* 테두리 색상 설정 */
  border-radius: 10px;
  height: 50px;
  width: 170px;
}
