.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 1.2em;
    }
  }

  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .character-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h2 {
      margin-top: 0;
    }

    p {
      margin: 5px 0;
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      // &:disabled {
      //   background-color: #ccc;
      //   cursor: not-allowed;
      // }

      &:hover:not(:disabled) {
        background-color: #0056b3;
      }

      &.active {
        background-color: #28a745; /* 현재 페이지 버튼의 배경색을 녹색으로 변경 */
        font-weight: bold;
      }
    }
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
